<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/gaussianS.css">
    <title>Simple Gaussian</title>
</head>
<body>
    <h1 class="title">Simple Gaussian Elimination</h1>
    <div class="container">
        <div class="inputs">
            <input type="number" min="2" max="10" required name="size" value="2" placeholder="Matrix size" id="size" class="lil-input input">
            <a href="#" id="size_btn">
                <span>Set size</span>
                <div class="liquid liquid_size"></div>
            </a>
            <div class="input_tables">
                <table id="input_table_a">
                    <tbody id="tbody_a"></tbody>
                </table>
                <table id="input_table_b">
                    <tbody id="tbody_b"></tbody>
                </table>
            </div>
        </div>
        <a href="#" id="save">
            <span>Save</span>
            <div class="liquid liquid_save"></div>
        </a>
        <a href="#" id="start">
            <span>start</span>
            <div class="liquid"></div>
        </a>
        <div class="tables">
        </div>
    </div>
    <script src="./js/metodos/direct_methods/gaussianaSimple.js"></script>
</body>
</html>