<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Methods</title>
</head>
<body>
    <canvas id="canvas1"></canvas>
        <div class="buttons">
            <a href="/incremental" id="incremental" target="_blank">
                <span>incre</span>
                <div class="liquid"></div>
            </a>
            <a href="/bisection" id="bisection" target="_blank">
                <span>bisect</span>
                <div class="liquid liquid-close"></div>
            </a>
            <a href="/false" id="false" target="_blank">
                <span>false</span>
                <div class="liquid liquid-close"></div>
            </a>
            <a href="/pfijo" id="p_fijo" target="_blank">
                <span>p fijo</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/newton" id="newton" target="_blank">
                <span>newton</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/secante" id="secante" target="_blank">
                <span>secante</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/multi_root" id="multi_root" target="_blank">
                <span>mult root</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/gauss_s" id="gauss_s" target="_blank">
                <span>gauss s</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="/gauss_p" id="gauss_p" target="_blank">
                <span>gauss p</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="/gauss_t" id="gauss_t" target="_blank">
                <span>gauss t</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="/fact_lu_s" id="fact_lu_s" target="_blank">
                <span>fact LU S</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="/fact_lu_p" id="fact_lu_p" target="_blank">
                <span>fact LU P</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="/cholesky" id="cholesky" target="_blank">
                <span>Chole</span>
                <div class="liquid liquid-fact_direc"></div>
            </a>
            <a href="/crout" id="crout" target="_blank">
                <span>Crout</span>
                <div class="liquid liquid-fact_direc"></div>
            </a>
            <a href="/doolittle" id="doolittle" target="_blank">
                <span>dooli</span>
                <div class="liquid liquid-fact_direc"></div>
            </a>
            <a href="/jacobi" id="jacobi" target="_blank">
                <span>Jacobi</span>
                <div class="liquid liquid-iterative"></div>
            </a>
            <a href="/seidel" id="seidel" target="_blank">
                <span>Gauss Seidel</span>
                <div class="liquid liquid-iterative"></div>
            </a>
            <a href="/sor" id="sor" target="_blank">
                <span>SOR</span>
                <div class="liquid liquid-iterative"></div>
            </a>
            <a href="/vander" id="vander" target="_blank">
                <span>Vander</span>
                <div class="liquid liquid-interpolation"></div>
            </a>
            <a href="/new_inter" id="new_inter" target="_blank">
                <span>Newton Inter</span>
                <div class="liquid liquid-interpolation"></div>
            </a>
            <a href="/lagrange" id="lagrange" target="_blank">
                <span>Lagran</span>
                <div class="liquid liquid-interpolation"></div>
            </a>
            <a href="/trazlin" id="trazlin" target="_blank">
                <span>Traz Lin</span>
                <div class="liquid liquid-interpolation"></div>
            </a>
            <a href="/trazcuad" id="trazcuad" target="_blank">
                <span>Traz Cua</span>
                <div class="liquid liquid-interpolation"></div>
            </a>
            <a href="/trazcub" id="trazcub" target="_blank">
                <span>Traz cub</span>
                <div class="liquid liquid-interpolation"></div>
            </a>
        </div>
    <script src="./js/scripts.js"></script>
</body>
</html>