<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Methods</title>
</head>
<body>
    <canvas id="canvas1"></canvas>
        <div class="buttons">
            <a href="/incremental" id="incremental" target="_blank">
                <span>incre</span>
                <div class="liquid"></div>
            </a>
            <a href="/bisection" id="bisection" target="_blank">
                <span>bisect</span>
                <div class="liquid liquid-close"></div>
            </a>
            <a href="/false" id="false" target="_blank">
                <span>false</span>
                <div class="liquid liquid-close"></div>
            </a>
            <a href="/pfijo" id="p_fijo" target="_blank">
                <span>p fijo</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/newton" id="newton" target="_blank">
                <span>newton</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/secante" id="secante" target="_blank">
                <span>secante</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/multi_root" id="multi_root" target="_blank">
                <span>mult root</span>
                <div class="liquid liquid-open"></div>
            </a>
            <a href="/gauss_s" id="gauss_s" target="_blank">
                <span>gauss s</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="/gauss_p" id="gauss_p" target="_blank">
                <span>gauss p</span>
                <div class="liquid liquid-direct"></div>
            </a>
            <a href="/gauss_t" id="gauss_t" target="_blank">
                <span>gauss t</span>
                <div class="liquid liquid-direct"></div>
            </a>
        </div>
    <script src="./js/scripts.js"></script>
</body>
</html>