<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bisection.css">
    <script src="https://pagecdn.io/lib/mathjs/7.1.0/math.min.js"></script>
    <title>Fixed Point</title>
</head>
<body>
    <h1 class="title">Fixed Point</h1>
    <div class="container">
        <div class="inputs">
            <input type="text" name="function_f" placeholder="function F(x)" autofocus id="function_f">
            <input type="text" name="function_g" placeholder="function G(x)" autofocus id="function_g">
            <input type="number" min="any" step="any" required name="x0" placeholder="x0" id="input-x0" class="lil-input">
            <input type= "number" min="any" step="any" name="tol" placeholder="tolerance" id="input-tol" class="lil-input">
            <input type="number" min="1" name="iterations" placeholder="iterations" id="iterations" class="lil-input">
        </div>
        <a href="#" id="start">
            <span>start</span>
            <div class="liquid"></div>
        </a>
        <div class="table">
            <table id="table">
                <thead>
                    <tr>
                        <td>root or interval</td>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
    <script src="./js/metodos/open_methods/punto_fijo.js"></script>
</body>
</html>