<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/gaussianS.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ml-matrix@6.5.3/matrix.umd.min.js"></script>
    <script src="https://pagecdn.io/lib/mathjs/7.1.0/math.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsfeat/0.0.8/jsfeat.js"></script>
    <script src="https://www.lactame.com/lib/ml/4.0.0/ml.min.js"></script>
    <title>SOR</title>
</head>
<div class="dropdown float-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button"><a href="/seidel">GaussSeidel</a></button>
          <button class="dropdown-item" type="button"><a href="/jacobi">Jacobi</a></button>
          <button class="dropdown-item" type="button"><a href="/sor">Sor</a></button>
          <button class="dropdown-item" type="button"><a href="/">Home</a></button>
        </div>
    </div>
<body>
    <h1 class="title">SOR</h1>
    <div class="container">
        <div class="inputs">
            <input type="number" min="2" max="10" required name="size" value="2" placeholder="Matrix size" id="size" class="lil-input input">
            <a href="#" id="size_btn">
                <span>Set size</span>
                <div class="liquid liquid_size"></div>
            </a>
            <div class="input_tables">
                <h3>A</h3>
                <h3>B</h3>
                <table id="input_table_a">
                    <tbody id="tbody_a"></tbody>
                </table>
                <table id="input_table_b">
                    <tbody id="tbody_b"></tbody>
                </table>
                <h3>x0</h3>
                <div class="inputs_container">
                    <h3>Tolerance</h3>
                    <h3>Iterations</h3>
                    <input type="number" min="0" step="any" name="tolerance" placeholder="tolerance" id="tolerance" class="lil-input input">
                    <input type="number" min="1" name="iterations" placeholder="iterations" id="iterations" class="lil-input input">
                    <h3>W</h3>
                    <input type="number" min="0" step="any" name="w" placeholder="W" id="w" class="lil-input input">
                </div>
                <table id="input_table_x0">
                    <tbody id="tbody_x0"></tbody>
                </table>
            </div>
        </div>
        <a href="#" id="save">
            <span>Save</span>
            <div class="liquid liquid_save"></div>
        </a>
        <a href="#" id="start">
            <span>start</span>
            <div class="liquid"></div>
        </a>
        <div id="tables">
            <div id="stage_tables"></div>
        </div>
        <div id="espec"></div>
    </div>
    <script src="./js/metodos/iterative_methods/sor.js"></script>
</body>
</html>