<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/gaussianS.css">
    <script src="https://pagecdn.io/lib/mathjs/7.1.0/math.min.js"></script>
    <title>Cubic Traz</title>
</head>
<body>
    <h1 class="title">Cubic Traz</h1>
    <div class="container" id="container">
        <div class="inputs">
            <input type="number" min="2" max="10" required name="size" value="2" placeholder="Matrix size" id="size" class="lil-input input">
            <a href="#" id="size_btn">
                <span>Set size</span>
                <div class="liquid liquid_size"></div>
            </a>
            <table id="input_table"></table>
        </div>
        <a href="#" id="save">
            <span>Save</span>
            <div class="liquid liquid_save"></div>
        </a>
        <a href="#" id="start">
            <span>start</span>
            <div class="liquid"></div>
        </a>
        <h2>Traz coeficients</h2>
        <div id="results"></div>
        <h2>Traz</h2>
        <div id="poli"></div>
    </div>
    <script src="./js/metodos/interpolation/trazcub.js"></script>
</body>
</html>