@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
    letter-spacing: 5px;
}

body {
    background: radial-gradient(rgb(39, 56, 133), rgb(2, 1, 53));
    background-attachment: fixed;
    padding: 20px;
}

.container {
    display: grid;
    gap: 8px;
    grid-template-rows: auto auto auto auto;
}

.title {
    margin: 20px;
    text-align: center; 
}

.inputs {
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

input {
    border: 2px solid #aaa;
    border-radius: 4px;
    background: none;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    text-align: center;
}

input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#function {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.lil-input {
    width: 100%;
}

#start {
    grid-row: 2;
}

.container a {
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 10px auto; 
    padding: 17px 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    height: 5px;
    border-radius: 20px;
    overflow: hidden;
}

.container a:hover {
    box-shadow: 0 0 8px 0 dodgerblue;
}

.container a span {
    position: relative;
    top: -7px;
    z-index: 1;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 5px;
}

.liquid {
    position: absolute;
    left: 0;
    top: -35px;
    width: 100%;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    transition: 0.5s;
}

.container a:hover .liquid {
    top: -80px;
}

.liquid:before,
.liquid:after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.liquid:before {
    border-radius: 45%;
    background: rgba(20,20,20,1);
    animation: animate 5s linear infinite;
}

.liquid:after {
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
} 

.table {
    margin-top: 30px;
    max-height: 300px;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100%;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

table thead tr {
    background-color: rgba(131, 153, 182, 0.5);
    font-weight: bold;
    table-layout: fixed;
}

table td {
    padding: 5px 8px;
}

table th {
    padding: 3px 2px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 0.85em;
}

table tbody tr:nth-of-type(even) {
    background-color: rgba(69, 88, 112, 0.5);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #dddddd;
    background-color: rgba(0, 165, 36, 0.5);
}

@media only screen and (min-width: 600px) {
    .table {
        max-height: 600px;
    }
}

@media only screen and (min-width: 900px) {
    .table {
        max-height: 400px;
    }
}