* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: radial-gradient(rgb(101, 34, 207), rgb(27, 3, 73));
}