* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: radial-gradient(rgb(39, 56, 133), rgb(2, 1, 53));
    z-index: -1;
}

.buttons{
    position: relative;
    margin: auto;
    margin-top: 60px;
    display: grid;
    width: 80%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.buttons a {
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    padding: 25px 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
}

.buttons a span {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 5px;
}

.liquid {
    position: absolute;
    left: 0;
    top: -20px;
    width: 100px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    transition: 0.5s;
}

.liquid-direct {
    background: #9c1f4f !important;
}

.buttons a:hover .liquid {
    top: -80px;
}

.liquid:before,
.liquid:after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.liquid:before {
    border-radius: 45%;
    background: rgba(20,20,20,1);
    animation: animate 5s linear infinite;
}

.liquid:after {
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

@media only screen and (min-width: 600px) {
    .buttons {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 900px) {
    .buttons {
        grid-template-columns: repeat(5, 1fr);
    }
}

